body {
  font-family: lato;
  margin: 0;
}
nav {
  margin-bottom: 2rem;
}
footer {
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-direction: column;
  align-items: center;
}
nav, footer {
  display: flex;
  justify-content: space-around;
  height: 100px;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(186,186,186,1);
  -moz-box-shadow: 0px 0px 40px 0px rgba(186,186,186,1);
  box-shadow: 0px 0px 40px 0px rgba(186,186,186,1);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1, h2 {
  text-align: center;
}
h2, h4.projet{
  text-decoration: underline;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.description {
  widows: 630px;
  height:auto;
  text-align:justify;
  font-size:1em;
}
#photo {
  margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
  float: left
}
.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.active {
  color: #ed7114;
  font-weight: bolder;
  text-decoration: unset;
}
.icone {
  display: flex;
  justify-content: center;
}
.loisir{
  float: right;
}
h3.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

